@media (min-width: 992px) {

  body {
    margin: 0;
    display: grid;
  }

  section.top {
    background-color: rgb(12, 212, 212);
    font-weight: bold;
    font-size:xx-large;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    height: 100%;
  }

  section > span {
    font-weight: bolder;
    white-space: pre;
  }

  section.bottom {
    background-color: rgb(30, 29, 29);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    height: 100%;
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .blue {
    height: 10%;
    width: 80%;
    background-color: rgb(89, 150, 208);
  }

  .orange {
    height: 10%;
    width: 80%;
    background-color: orange;
  }

  .green {
    height: 10%;
    width: 80%;
    background-color: rgb(12, 212, 212);
  }

  h1 {
    text-align: center;
    color: white;
  }

  p {
    text-align: center;
    color: white;
    font-size: small;
    margin: 5px;
  }

}

@media (max-width: 991px) {

  body {
    margin: 0;
    display: grid;
  }

  section.top {
    background-color: rgb(89, 150, 208);
    font-weight: bold;
    font-size: x-large;
    text-wrap: wrap;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    height: 100%;
  }

  section > span {
    font-weight: bolder;
    white-space: pre;
  }

  section.bottom {
    background-color: rgb(247, 242, 242);
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    height: 100%;
  }

  article {
    align-items: center;
    margin: 5px;
  }

  .blue {
    margin: auto;
    height: 10%;
    width: 80%;
    background-color: rgb(89, 150, 208);
  }

  .orange {
    margin: auto;
    height: 10%;
    width: 80%;
    background-color: orange;
  }

  .green {
    margin: auto;
    height: 10%;
    width: 80%;
    background-color: rgb(12, 212, 212);
  }

  h1 {
    text-align: center;
    color: black;
  }

  p {
    text-align: center;
    color: black;
    font-size: small;
    margin: 5px;
  }

}